<%- include('partials/header.ejs') %>

<div class="details-container">
    <h1 class="name">Kabilasudhan Nc</h1>
    <h2>Books I’ve read</h2> 
    <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
    <p>with my top recommendations up top. Sort by <a href="/?sort=title">title</a>, <a href="/?sort=created_at">newest</a>, or <a href="/?sort=rating">best</a>.</p> 
    <p>And please read this FAQ page about these notes, if you have any questions. You can also email me.</p>
</div>

<hr>
<div class="book-container">
    <% if (locals.data) { %>
        <% for (book of data) {%>
            <a href="/book/<%= book.id %>" class="book" id="<%= book.id %>">
                <img src='<%= book.bookcover %>' alt="bookCover" class="bookCover">
                <h2 class="bookTitle"><%= book.title %> - <%= book.author %></h2>
                <div>
                    <p class="readOn"><span class="bold">Date Read:</span> <span class="read_on"><%= book.created_at %></span></p>
                    <p class="rating"><span class="bold">Rating:</span> <%= book.rating %></p>
                </div>
                <p class="description"><%= book.description %></p>
            </a>

            <hr>
        <% } %>
    <% } else { %>
        <%= data.error %>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>